*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

h1{
    cursor: pointer;
    font-size: 55px;
    padding: 3%;
}
h3{
    margin-left: 7px;
    padding: 2%;
}

p{
    margin-left: 9px;
    padding: 2%;
}

span{
     color: orange;
}
.under-img-txt{
    margin: 11px;
    font-size: 30px;
}

.color-h3{
    color: orange;
}

.flexible-container{
    display: flex;
}
.image-box{
    width: 50%;
}

.image-width{
    width: 75%;
}

.text-width-box{
    padding: 7%;
    width: 50%;
}

.text-width-last-box{
    width: 50%;
    padding: 2%;
    box-shadow: 10px 10px 70px black;
    margin: 0 5% 5% 5%;
}

.top-banner{
    margin-bottom: 100px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.middle-banner{
    margin-bottom: 100px;
    background-position: right;
    background-image: url(images/middle-banner.png);
    background-repeat: no-repeat;
    /* background-size: 100%; */


}
.last-banner{
    background-image: url(images/last-banner.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.link-button:hover{
    color: black ;
}

.link-button{
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    right: 2px;
    text-decoration: none;
    padding: 5px 30px;
    background-image: linear-gradient(red,orange);

}
.team-mem{
    font-size: 17px;
}
#gradient-color-left{
   border-left: 7px solid;
  border-image: linear-gradient(rgb(245, 8, 8),rgb(223, 85, 85),orange) 1;
}
#gradient-color-right{
    border-left: 7px solid;
    border-image: linear-gradient(blue,rgb(78, 78, 218),lightblue) 1;
}
.footer{
    text-align: center;
}
